<!-- create a html file with vuejs with two text areas and a button that converts one input from ddl to json schema -->
<html>

<head>
	<title>Vuejs</title>
	<script src="https://cdn.jsdelivr.net/npm/sql-ddl-to-json-schema@4.0.6/lib/index.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
</head>

<body>
	<div id="app">
		<textarea v-model="ddl"></textarea>
		<textarea v-model="json"></textarea>
		<button @click="convert">Convert</button>
	</div>
	<script>
		const { Parser } = require('sql-ddl-to-json-schema');
		var parser = new Parser('mysql')
		var app = new Vue({
			el: '#app',
			data: {
				ddl: '',
				json: ''
			},
			methods: {
				convert: function () {
					const jsonSchemaDocuments = parser.feed(this.ddl).toJsonSchemaArray({})
					this.json = jsonSchemaDocuments
				}	
			}
		});
	</script>
</body>

</html>